*{
    margin: 0;padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/*     border: 1px solid black; */
    box-sizing: border-box;
}
.he1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height:150px;
}
.n ul{
    list-style: none;
    display: flex;

}
.n ul a{
    text-decoration: none;
    color:rgb(60, 57, 57);
    
}
.n ul li{
    margin: 7px;
    border-radius: 5px;
    padding: 8px;
    margin-right: 60px;
    /* justify-content: center; */
}
.l{
    font-size: 45px;
    margin-left: 90px;
    color: rgb(101, 60, 130);
    font-weight: bold;  
}
.n ul li a:hover{
    box-shadow: 0px 0px 16px rgb(173, 130, 213);
    transition: .5s;
    cursor: pointer;
    
}
.n ul li:hover{
    background-color:rgb(173, 130, 213);
    transition: .5s; 
    box-shadow: 0px 0px 16px rgb(173, 130, 213);
    cursor: pointer;
}
.he2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    /* height: 400px; */
}
.l2{
    font-size: 70px;
    margin-left: 90px;
    color:rgb(45, 41, 47);
    font-weight: 500;
}
.menu{
    display: none;
}
#check{
    display: none;
}
.lc{
    /* height:140px; */

}
.blc{
    width: 340px;
    margin-left: 160px;
    margin-top: 6px;
}
.blc li:hover{
    transform: scale(1.1);
}
.blc li a:hover{
    color: rgb(73, 25, 104);
}
.blc li a{
    text-decoration: none;
    color:indianred;
    font-weight:500;
}
.blc li{
    list-style: none;
}
.betch{
    font-size: 29px;
    margin-left: 90px;
    margin-top: 40px;
    color:rgb(63, 63, 63);
    font-weight: bold; 
    width: 340px; 
    
}
.n li:hover{
transform: scale(1.1);
}
.india{
    /* height: 300px; */
   
}
.sp{
    font-size: 29px;
    margin-left: 90px;
    margin: top 0;
    color: rgb(63, 63, 63);
    font-weight: bold; 
    width: 740px; 
}
.spl{
    width: 970px;
    margin-left: 160px;
    margin-top: 8px;
}
.spl ul{
    list-style: none;
}
.spl a{
    text-decoration: none;
    color:indianred;
    font-weight: 500;
}
.spl li:hover{
    transform: scale(1.1);
}
.spl a:hover{
    color:rgb(73, 25, 104);
}
#cm{
    height: 310px;
    width: 320px;
    position: absolute;
    left: 1200px;
    top: 180px;
    
}
@media (max-width:1350px) {
    #check:checked ~ .n{
        /* transition: 1s; */
        display: block;
        right: 0%;
    
    }
    .n ul{
        /* transition: 1s; */
    }
    .menu{
        float: right;
        /* position: absolute; */
        display: block;
    }
    .n{
        display: none;
        margin-right: 10px;
    }
    .l{
        background-color: white;
        font-size: 35px;
      }
    
    .he1{
    display: flex;
    justify-content: space-between;
    align-items: center;

    }
    .l{
        display: inline;
        margin-left:6px;
    }
    .he1 .n ul{

        display: block;
        justify-content: center;
        
    }
    .he1{
        /* justify-content: flex-end; */
    }
    .n{
        position: absolute;
        right:-100%;
        top: 16%;
        text-align: center;
        margin-right: 16px;
        display: none;
        /* transition: 1s; */
    }
    .n ul li{
        margin:0px;
    }
  
    .menu{
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        margin-right: 60px;
        font-size: 25px;
        color: rgb(101, 60, 130);
    }
    .india{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        
    }
    .sp{
        font-size: 20px;
        margin-left:16px;
    }
    .spl{
        font-size: 16px;
        font-weight: 500;
        margin-left: 34px;
    }
    .blc{
        font-size: 16px;
        margin-left: 34px;
    }
    .betch{
        font-size: 20px;
        margin-left: 16px;
    }
    #cm{
        height: 210px;
        width: 220px;
        top: 0px;
        left: 0px;
        position: relative;
        
        
    }
    
    
    
}
@media (max-width:500px){
    #check:checked ~ .n{
        /* transition: 1s; */
        display: block;
        right: 0%;
    
    }
    .menu{
        float: right;
        /* position: absolute; */
        display: block;
    }
    .n{
        display: none;
        margin-right: 2px;
    }
    .l{
        background-color: white;
        font-size: 35px;
      }
    .he1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .l{
        display: inline;
        margin-left:6px;
    }
    .he1 .n ul{

        display: block;
        justify-content: center;
        
    }
    .he1{
        /* justify-content: flex-end; */
    }
    .n{
        position: absolute;
        right:-100%;
        top: 16%;
        text-align: center;
        margin-right: 16px;
        display: none;
        /* transition: 1s; */
    }
    .n ul li{
        margin:0px;
    }
    .menu{
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        margin-right: 60px;
        font-size: 25px;
        color: rgb(101, 60, 130);
    }
    .india{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
       
    }
    .sp{
        font-size: 20px;
        margin-left:16px;
    }
    .spl{
        font-size: 16px;
        font-weight: 500;
        margin-left: 34px;
    }
    .blc{
        font-size: 16px;
        margin-left: 34px;
    }
    .betch{
        font-size: 20px;
        margin-left: 16px;
    }
    #cm{
        height: 210px;
        width: 220px;
        top: 0px;
        left: 0px;
        position: relative;
        
        
    }
    
    

}


